
.build/
.build/arm64-apple-macosx/
.build/x86_64-apple-macosx/
.DS_Store
*.app
*.swo
*.swp
*.xcuserdata
*.xcworkspace
*~
/.build
/*.xcodeproj
/Packages
# Build artifacts
# macOS
# Xcode
DerivedData/
